Repository meowool/cradle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gradle/bt-unassigned-maintainers, @gradle/bt-execution, @gradle/bt-ge-build-cache, @bamboo, @gradle/bt-configuration, @gradle/bt-kotlin-dsl-maintainers, @gradle/bt-core-runtime-maintainers, @gradle/bt-build-scan, @gradle/ge-build-insights, @gradle/ge-testing, @ldaley, @gradle/bt-jvm, @gradle/bt-developer-productivity, @tresat, @gradle/bt-architecture-council, @gradle/bt-ide-experience, @gradle/bt-support, @gradle/bt-devrel-education

fix(ci): typo in `upload-nightly-distributions.sh`
  .github/workflows/upload-nightly-distributions.sh
Owners: @gradle/bt-developer-productivity

chore: rename distribution files for upload
  .github/workflows/upload-nightly-distributions.sh
Owners: @gradle/bt-developer-productivity

style: use 2 spaces to indent shell scripts
  .editorconfig
  .github/workflows/bump-version-text.sh
  .github/workflows/nightly-upload.yml
  .github/workflows/upload-nightly-distributions.sh
Owners: @gradle/bt-unassigned-maintainers, @gradle/bt-developer-productivity

style: update script to comply with shellcheck guidelines
  .github/workflows/upload-nightly-distributions.sh
Owners: @gradle/bt-developer-productivity

fix(ci): add permission before executing `.sh` file
  .github/workflows/nightly-upload.yml
  .github/workflows/upstream-sync.yml
Owners: @gradle/bt-developer-productivity

refactor: execute `.sh` file directly
  .github/workflows/nightly-upload.yml
  .github/workflows/upload-nightly-distributions.sh
  .github/workflows/upstream-sync.yml
Owners: @gradle/bt-developer-productivity

refactor: rename `bump-version-text.sh`
  .github/workflows/bump-version-txt.sh
  .github/workflows/nightly-upload.yml
Owners: @gradle/bt-developer-productivity

feat(ci): add job to clean up outdated nightly distributions
  .github/workflows/clean-nightly-distributions.sh
  .github/workflows/nightly-upload.yml
Owners: @gradle/bt-developer-productivity

fix(ci): execute correct shell script path
  .github/workflows/nightly-upload.yml
Owners: @gradle/bt-developer-productivity

refactor(ci): improve automation workflow for distribution
  .gitattributes
  .github/workflows/distributions-release.yml
  .github/workflows/nightly-upload.yml
  .github/workflows/scripts/apply-latest-cradle-code.sh
  .github/workflows/scripts/build-distributions.sh
  .github/workflows/scripts/bump-version.sh
  .github/workflows/scripts/checkout-upstream-tags.sh
  .github/workflows/scripts/clean-nightly-distributions.sh
  .github/workflows/scripts/configure-git.sh
  .github/workflows/scripts/determine-event-branches.sh
  .github/workflows/scripts/merge-upstream-changes.sh
  .github/workflows/scripts/release-distributions.sh
  .github/workflows/subprojects-test.yml
  .github/workflows/upstream-sync.yml
Owners: @gradle/bt-unassigned-maintainers, @gradle/bt-developer-productivity

feat(kts): allow use plugin dependency without version via `id`
  subprojects/core-api/src/main/java/org/gradle/plugin/use/PluginDependenciesSpec.java
  subprojects/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginSpecBuilderAccessorsClassPathTest.kt
Owners: @gradle/bt-unassigned-maintainers

refactor(ci): improve trigger logic and add security measures for releasing
  .github/workflows/distributions-release.yml
  .github/workflows/scripts/checkout-upstream-tags.sh
  .github/workflows/scripts/configure-git.sh
  .github/workflows/scripts/determine-event-branches.sh
  .github/workflows/scripts/release-distributions.sh
  .github/workflows/scripts/wait-for-tests.sh
  .github/workflows/upstream-sync.yml
Owners: @gradle/bt-developer-productivity

feat(kts): add frequently used utils for repository declaration
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/MavenMirrorRepository.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/RepositoryHandler.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

feat(kts): add utility extension function `dependsOn` for `PluginContainer`
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/TaskProvider.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

fix(kts): move Cradle code to version-appropriate location
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/ConfigurableDependency.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/ConfigurableDependencyScope.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/MavenMirrorRepository.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/internal/ConfigurableIncludeImpl.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/Environment.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/Include.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/PluginContainer.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/RepositoryHandler.kt
  subprojects/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/TaskProvider.kt
Owners: @gradle/bt-unassigned-maintainers

fix(ci): echo the correct message
  .github/workflows/scripts/release-distributions.sh
Owners: @gradle/bt-developer-productivity

fix(ci): build nightly distributions when on main or release branch
  .github/workflows/scripts/build-distributions.sh
  .github/workflows/scripts/release-distributions.sh
Owners: @gradle/bt-developer-productivity

fix: correct Cradle download URL for source distribution repository
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionProvider.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

fix(ci): prevent version bump when releasing nightly builds
  .github/workflows/distributions-release.yml
Owners: @gradle/bt-developer-productivity

fix(ci): use correct version when releasing distributions
  .github/workflows/scripts/bump-version.sh
  .github/workflows/scripts/release-distributions.sh
Owners: @gradle/bt-developer-productivity

fix(kts): make `includeAllProjects` pattern effective
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/internal/ConfigurableIncludeImpl.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/Include.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

fix(ci): ensure checking out main branch every time
  .github/workflows/distributions-release.yml
Owners: @gradle/bt-developer-productivity

feat(ci): adjust priority of specific branch handling
  .github/workflows/scripts/determine-event-branches.sh
Owners: @gradle/bt-developer-productivity

fix: skip docs distribution testing in CI
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DocsDistributionIntegrationSpec.groovy
Owners: @gradle/bt-unassigned-maintainers

feat(ci): add input to skip tests when manually triggered
  .github/workflows/distributions-release.yml
Owners: @gradle/bt-developer-productivity

fix: further skip docs distribution testing in CI
  .github/workflows/distributions-release.yml
  subprojects/distributions-integ-tests/src/integTest/groovy/org/gradle/DistributionIntegrationSpec.groovy
Owners: @gradle/bt-developer-productivity, @gradle/bt-unassigned-maintainers

chore: initialize cradle project
  .gitignore
  .idea/icon.png
  .idea/icon.svg
  .idea/icon_dark.png
Owners: @gradle/bt-unassigned-maintainers

chore(kts): export `com.meowool.cradle` package
  build-logic/basics/src/main/kotlin/gradlebuild/basics/PublicKotlinDslApi.kt
  platforms/core-configuration/kotlin-dsl/build.gradle.kts
  platforms/core-configuration/kotlin-dsl/src/integTest/kotlin/org/gradle/kotlin/dsl/support/ImplicitImportsTest.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/ImplicitImports.kt
  subprojects/core/src/main/java/org/gradle/initialization/DefaultGradleApiSpecProvider.java
Owners: @gradle/bt-developer-productivity, @gradle/bt-kotlin-dsl-maintainers, @gradle/bt-unassigned-maintainers

feat(kts): enhance codegen to add multiple dependencies
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/ConfigurableDependency.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/ConfigurableDependencyScope.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorFragments.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/KotlinType.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/accessors/runtime/Runtime.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/AsmExtensions.kt
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/KotlinMetadata.kt
  platforms/core-configuration/kotlin-dsl/src/test/resources/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors-expected-output.txt
Owners: @gradle/bt-kotlin-dsl-maintainers

feat(kts): allow exclude `*Dependency` instances
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensions.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

feat(dm): allow passing `PluginDependency` to `DependencyHandler.createDependency`
  subprojects/dependency-management/src/main/java/org/gradle/api/internal/artifacts/DefaultDependencyFactory.java
Owners: @gradle/bt-jvm

chore: initialize README.md
  README.md
Owners: @gradle/bt-unassigned-maintainers

test(core): skip concurrent testing to avoid CI failure
  subprojects/core/src/integTest/groovy/org/gradle/api/tasks/GradleBuildTaskIntegrationTest.groovy
Owners: @gradle/bt-unassigned-maintainers

test(kts): skip hash test in `GradleApiExtensionsTest`
  platforms/core-configuration/kotlin-dsl/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

chore(github): clean workflows and templates to fit Cradle
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/workflows/auto-assign-pr-to-author.yml
  .github/workflows/closed_issue_labels.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/extract-unit-test-split.jq
  .github/workflows/gitstream.yml
  .github/workflows/notify-on-rc-for-manual-test.yml
  .github/workflows/opened_issue_labels.yml
  .github/workflows/slack-notifier.yml
  .github/workflows/stale-issue.yml
  .github/workflows/submit-github-dependency-graph.yml
  .github/workflows/subprojects-test.yml
  .github/workflows/team-triage-stale.yml
Owners: @gradle/bt-developer-productivity, @tresat

feat(kts): add utils for testing Gradle runtime environment
  platforms/core-configuration/kotlin-dsl/src/main/kotlin/com/meowool/cradle/util/Environment.kt
Owners: @gradle/bt-kotlin-dsl-maintainers

fix: revert changes to `extract-unit-test-split.jq`
  .github/workflows/extract-unit-test-split.jq
Owners: @gradle/bt-developer-productivity

chore: update README.md
  README.md
Owners: @gradle/bt-unassigned-maintainers

ci: install `wei/pull` app to automatically sync upstream changes
  .github/pull.yml
Owners: @gradle/bt-developer-productivity

revert(ci): uninstall `wei/pull` app due to incompatible repo type
  .github/pull.yml
Owners: @gradle/bt-developer-productivity

.github/CODEOWNERS:

## GitHub docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
##
## CODEOWNERS style rules:
## 1. Prefer team ownership over individual user ownership.
## 2. GBT-related team should be listed first.
## 3. Try to keep paths alphabetically sorted.
## 4. List individual owners last.
##

# bt-unassigned-maintainers must be the first owner
# All directories that are not explicitly listed below are considered
# unassigned. This means that the ownership may be unknown, lost or
# mixed across several groups.
* @gradle/bt-unassigned-maintainers

# Core automation platform (core/execution)
subprojects/build-cache/                    @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/build-cache-base/               @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/build-cache-http/               @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/build-cache-packaging/          @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/build-operations/               @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/build-profile/                  @gradle/bt-execution
subprojects/execution/                      @gradle/bt-execution
subprojects/file-watching/                  @gradle/bt-execution
subprojects/files/                          @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/functional/                     @gradle/bt-execution @bamboo
subprojects/hashing/                        @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/snapshots/                      @gradle/bt-execution @gradle/bt-ge-build-cache
subprojects/worker-processes/               @gradle/bt-execution
subprojects/workers/                        @gradle/bt-execution

# Core automation platform (core/configuration)
subprojects/api-metadata/                       @gradle/bt-configuration
subprojects/base-annotations/                   @gradle/bt-configuration
subprojects/base-services-groovy/               @gradle/bt-configuration
subprojects/configuration-cache/                @gradle/bt-configuration
subprojects/file-collections/                   @gradle/bt-configuration
subprojects/instrumentation-agent/              @gradle/bt-configuration
subprojects/internal-instrumentation-api/       @gradle/bt-configuration
subprojects/internal-instrumentation-processor/ @gradle/bt-configuration
subprojects/model-core/                         @gradle/bt-configuration
subprojects/model-groovy/                       @gradle/bt-configuration

# Core automation platform (Kotlin DSL)
build-logic/kotlin-dsl/                                     @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl/                    @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-integ-tests/        @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-plugins/            @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-provider-plugins/   @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-tooling-builders/   @gradle/bt-kotlin-dsl-maintainers
platforms/core-configuration/kotlin-dsl-tooling-models/     @gradle/bt-kotlin-dsl-maintainers

# Core automation platform (core/runtime)
subprojects/installation-beacon             @gradle/bt-core-runtime-maintainers

# Gradle Enterprise integration
platforms/enterprise                                    @gradle/bt-build-scan @gradle/ge-build-insights
platforms/enterprise/enterprise/                        @gradle/bt-build-scan @gradle/ge-testing @gradle/ge-build-insights @ldaley
platforms/enterprise/enterprise-logging/                @gradle/bt-build-scan @gradle/ge-build-insights @gradle/ge-testing
platforms/enterprise/enterprise-operations/             @gradle/bt-build-scan
platforms/enterprise/enterprise-plugin-performance/     @gradle/bt-build-scan

# JVM platform
platforms/jvm/                              @gradle/bt-jvm
subprojects/distributions-publishing/       @gradle/bt-jvm
subprojects/jvm-services/                   @gradle/bt-jvm
subprojects/normalization-java/             @gradle/bt-jvm
subprojects/platform-jvm/                   @gradle/bt-jvm
subprojects/plugins/                        @gradle/bt-jvm

# These are located under platforms/jvm/, but we also want to inform the GE testing team of changes, so we need to list them explicitly to match multiple owners
platforms/jvm/testing-junit-platform/       @gradle/bt-jvm @gradle/ge-testing
platforms/jvm/testing-jvm/                  @gradle/bt-jvm @gradle/ge-testing
platforms/jvm/testing-jvm-infrastructure/   @gradle/bt-jvm @gradle/ge-testing

# Software platform
platforms/software/                         @gradle/bt-jvm
subprojects/dependency-management/          @gradle/bt-jvm
subprojects/ivy/                            @gradle/bt-jvm
subprojects/maven/                          @gradle/bt-jvm
subprojects/platform-base/                  @gradle/bt-jvm
subprojects/publish/                        @gradle/bt-jvm
subprojects/reporting/                      @gradle/bt-jvm
subprojects/resources/                      @gradle/bt-jvm
subprojects/resources-gcs/                  @gradle/bt-jvm
subprojects/resources-http/                 @gradle/bt-jvm
subprojects/resources-s3/                   @gradle/bt-jvm
subprojects/resources-sftp/                 @gradle/bt-jvm
subprojects/security/                       @gradle/bt-jvm
subprojects/signing/                        @gradle/bt-jvm
subprojects/version-control/                @gradle/bt-jvm

# Build infrastructure
.teamcity/                                  @gradle/bt-developer-productivity
.github/                                    @gradle/bt-developer-productivity
/build-logic/                               @gradle/bt-developer-productivity
/build-logic-commons/                       @gradle/bt-developer-productivity
/build-logic-settings/                      @gradle/bt-developer-productivity
/build.gradle*                              @gradle/bt-developer-productivity
/settings.gradle*                           @gradle/bt-developer-productivity
gradle/shared-with-buildSrc/                @gradle/bt-developer-productivity
subprojects/internal-architecture-testing/  @gradle/bt-developer-productivity
subprojects/internal-build-reports/         @gradle/bt-developer-productivity
subprojects/internal-integ-testing/         @gradle/bt-developer-productivity
subprojects/internal-performance-testing/   @gradle/bt-developer-productivity
subprojects/internal-testing/               @gradle/bt-developer-productivity

# gitStream files
.cm/                                @tresat
.github/workflows/gitstream.yml     @tresat

# Architecture council
.github/CODEOWNERS @gradle/bt-architecture-council @tresat

# IDE Experience team
platforms/ide/                    @gradle/bt-ide-experience
subprojects/ide/                  @gradle/bt-ide-experience
subprojects/tooling-api/          @gradle/bt-ide-experience
subprojects/tooling-api-builders/ @gradle/bt-ide-experience

# Release coordination
subprojects/core-platform/              @gradle/bt-support
subprojects/distributions-dependencies/ @gradle/bt-support
subprojects/distributions-full/         @gradle/bt-support
subprojects/performance/                @gradle/bt-support
subprojects/smoke-test/                 @gradle/bt-support
subprojects/soak/                       @gradle/bt-support

# Documentation
subprojects/docs/src/docs/                                                        @gradle/bt-devrel-education
subprojects/docs/src/samples/                                                     @gradle/bt-devrel-education
subprojects/docs/src/docs-asciidoctor-extensions-base/                            @gradle/bt-devrel-education
subprojects/docs/src/docs-asciidoctor-extensions/                                 @gradle/bt-devrel-education

subprojects/docs/src/snippets/kotlinDsl/                                                @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers
subprojects/docs/src/docs/userguide/api/kotlin_dsl.adoc                                 @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers
subprojects/docs/src/docs/userguide/migration/migrating_from_groovy_to_kotlin_dsl.adoc  @gradle/bt-devrel-education @gradle/bt-kotlin-dsl-maintainers

subprojects/docs/src/docs/userguide/core-plugins/base_plugin.adoc                 @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/build_dashboard_plugin.adoc      @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/build_init_plugin.adoc           @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/checkstyle_plugin.adoc           @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/codenarc_plugin.adoc             @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/distribution_plugin.adoc         @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/ear_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/jacoco_plugin.adoc               @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/java_gradle_plugin.adoc          @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/pmd_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/core-plugins/war_plugin.adoc                  @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/dep-man/                                      @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/jvm/                                          @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/reference/directory_layout.adoc               @gradle/bt-devrel-education @gradle/bt-jvm
subprojects/docs/src/docs/userguide/troubleshooting/version_catalog_problems.adoc @gradle/bt-devrel-education @gradle/bt-jvm
